<app-header titulo="MIS METAS PROPUESTAS"></app-header>


<!--<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Retornar" color="secondary" mode="ios">

      </ion-back-button>
     </ion-buttons>

    <ion-title>mismetaspropuestas</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <h3>Meta Personal</h3>
  <p>Disfrutar de la vida con los momentos que Dios me regala</p>
    <p>formar una familia con buenos valores y principios </p>
    <img src="https://us.123rf.com/450wm/rastudio/rastudio1801/rastudio180100303/92913049-mujer-de-negocios-blanca-cauc%C3%A1sica-joven-corriendo-por-las-escaleras-dibujadas-a-mano-con-pencile-mu.jpg?ver=6"height="40%" width="100%" >
   <h3>Meta Profesional</h3>
    <P>Ejercer mi futura Carrera,con una amplia gama de conocimiento adquirido y demostrarlo en mi mundo laboral </P>
    <p>Diseñar y desarrollar tecnología innovadora para facilitar la vida de las personas.</p>
</ion-content>
