<app-header titulo="MI DESCRIPCION PERSONAL"></app-header>


<!--<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Retornar" color="secondary" mode="ios">

      </ion-back-button>
     </ion-buttons>

    <ion-title>midescripcionpersonal</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <h3>Cinthia Medrano</h3>
<p>Soy una persona emprendedora, que adora los retos y no se rinde fácilmente. Muy detallista y autodidacta cada día,</p>
<img src="https://significado.com/img/sociedad/imagen-personal-cuidado.jpg" height="40%" width="100%">
</ion-content>
